{% extends "default.html" %}

{% block content %}
<hl>Главная страница</hl>

    <p>Добро пожаловать в <em>Мир новостей</em>, Это очень простой
       веб-сайт, написанный на Django. Разработан на Python
       в качестве учебного примера с использованием PyCharm.</p>

<h2>Динамический контент</h2>

    <p>База данных сайта Мир новостей содержит следующее
       количество записей :</p>
    <ul>
        <li><strong>Koличecтвo новостей:</strong> {{ num_post }}</li>
        <li><strong>Koличecтвo комментариев:
            </strong> {{ num_comment }}</li>
        <li><strong>Koличecтвo категорий:
            </strong> {{ num_category }}</li>
        <li><strong>Koличecтвo авторов:
            </strong> {{ num_authors }}</li>
    </ul>
{% endblock %}


